<form action="<%= settings.baseurl %>/admin/ec2" method="post">
<h1>EC2 section</h1>
<p>The EC2 credentials are the same than your <b>genocloud credentials</b>.
</p>
<p>
You can use common APIs in different languages to manage your cloud via EC2.
</p>
<br/>
<table class="tabids">
<caption>Enter your EC2 credentials</caption>
<tr>
<td>
<label for="ec2crypt">Encrypt password<a rel="tooltip" title="Check if you're using OpenNebula<br/>Uncheck if you're using Amazon or ACCESS_KEYS"> <sup><b>?</b></sup></a></label>
</td>
<td>
<input type="checkbox" name="ec2crypt" value="1" checked/>
</td>
</tr>
<tr>
<td>
<label for="ec2key">EC2 key</label>
</td>
<td>
<input type="text" id="ec2key" name="ec2key" value="
<% if @ec2!=nil %>
<%= @ec2.ec2key %>
<% end %>
"/>
</td>
</tr>
<tr>
<td>
<label for="ec2password">EC2 password</label>
</td>
<td>
<input type="password" id="ec2password" name="ec2password" value="
<% if @ec2!=nil %>
<%= @ec2.ec2pwd %>
<% end %>
"/>
</td>
</tr>
<tr>
<td colspan="2">
<input type="submit"></input>
</td>
</tr>
</table>
</form>
