<div>
<form action="<%= settings.baseurl %>/login" method="post">
<table class="tabids">
<tr>
<td>
<label for="login">Login</label>
</td>
<td>
<input type="text" id="login" name="login"></input>
</td>
</tr>
<tr>
<td>
<label for="password">Password</label>
</td>
<td>
<input type="password" id="password" name="password"></input>
<tr>
<td colspan="2">
<input type="submit"></input>
</td>
</tr>
</table>
</form>
</div>
<div class="info">Generated admin password can be found in /usr/share/xgrid/web/xgridconfig.rb</div>
