
.header { text-align: center; background-color: #9CC461; margin-top: 10px;  }

.footer { text-align: center; background-color: #9CC461; margin-top: 10px;  }

.menuitem { float: left; margin: 10px;  }

.content { clear: both; margin: 10px;  }
