<h1>SGE page</h1>

<form action="<%= settings.baseurl %>/sge" method="post">
 <select id="ami" name="ami">
  <% @amis.each do |image| %>
   <option value="<%= image.imageId %>"><%= image.imageId %></option>
  <% end %>
 </select>
 <select id="type" name="type">
   <option value="m1.small">small</option>
   <option value="m1.medium">medium</option>
 </select>
 <input type="submit"/>

</form>

