<h1>SGE page</h1>

<form action="sge" method="post">
 <select id="ami" name="ami">
   <option value="ami-00000037">ami-00000037</option>
 </select>
 <select id="type" name="type">
   <option value="m1.small">small</option>
   <option value="m1.medium">medium</option>
 </select>
 <input type="submit"/>

</form>

