<h1>Node</h1>
<% @node.each do |r|%>
<p>Id: <%= r.id %></p>
<p>Name: <%= r.name %></p>
<p>Status: <%= r.status %></p>
<form action="<%= XgridConfig.baseurl+"/node/delete/"+r.id.to_s %>" method="post">
<input type="submit" value="delete"/>
</form>
<% end %>
